h1 {
 font-size: 30px;
   background-color: rgb(151, 207, 255);
  color: rgba(0, 0, 175, 0.753);
  border-radius: 30px;
}
h1:hover{
  background-color: rgb(94, 180, 255);
  color: blue;
  font-size: 40px;}
button {
  font-size: 22.5px;
  font-weight: 600;
  background-color: rgb(94, 180, 255);
  color: blue;
  border-radius: 8px;
}
button:hover {
  background-color: rgb(95, 95, 255);
  border-radius: 10px;
  font-size: 32.5px;
}

h4 {
  background-color: rgb(151, 207, 255);
  color: rgba(0, 0, 175, 0.753);
  border-radius: 30px;
  padding: 7.5px;
}
body {
  font-family: cursive;
  background-image: url(https://img.freepik.com/premium-vector/vector-illustration-seamless-tropical-fruit-pineapple-with-blank-background_871993-453.jpg);
  text-align: center;

  li{
    background-color: rgb(151, 207, 255);
  color: rgba(0, 0, 175, 0.753);
  border-radius: 30px;
  padding: 7.5px;
  font-size: 25px
}
